[submodule "moveit"]
	path = moveit
	url = https://github.com/ros-planning/moveit.git
[submodule "moveit_msgs"]
	path = moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "geometric_shapes"]
	path = geometric_shapes
	url = https://github.com/ros-planning/geometric_shapes.git
[submodule "moveit_visual_tools"]
	path = moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools.git
[submodule "moveit_resources"]
	path = moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = melodic-devel-staging
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/TAMS-Group/robotiq.git
[submodule "robotiq_s_model_action_server"]
	path = robotiq_s_model_action_server
	url = https://github.com/TAMS-Group/robotiq_s_model_action_server.git
